﻿@{
    ViewBag.Title = "Home Page";
}
<div class="row">

    <div class="col-md-6 col-xs-8">
        <h1>The World</h1>
        <p>
            Text to go here
        </p>

        <form>
            <div class="form-group">
                <label>UpDate</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Location</label>
                <input class="form-control" />
            </div>
            <div>
                <input type="submit" value="Add" class="btn btn-success" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h1>The Map</h1>
    </div>
</div>